@model Web.Models.Veiculos

@{
    ViewBag.Title = "Excluir veículo";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.MenuAtual = "Clientes";
}

@if (Model.Clientes.Sexo == "M")
{
    <h2>Excluir veículo do cliente @Model.Clientes.Nome</h2>
}
else
{
    <h2>Excluir veículo da cliente @Model.Clientes.Nome</h2>
}


<h3>Você tem certreza que deseja excluir este veículo?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayName("Marca:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarcasCarros.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ano)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ano)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Placa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Placa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoriaCarro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoriaCarro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoCombustivel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoCombustivel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoMotor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoMotor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observacoes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observacoes)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div>
            <button type="submit" class="btn btn-success">
                <span class="glyphicon glyphicon-trash"></span> Excluir
            </button>
            <a href="/Clientes/Details/@Model.Clientes.Id" class="btn btn-primary btn-danger">
                <span class="glyphicon glyphicon-remove"></span>
                Cancelar
            </a>
        </div>
    }
</div>
