@model Web.Models.Veiculos

@{
    ViewBag.Title = "Detalhes do veículo";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.MenuAtual = "Clientes";
}

<h2>Detalhes do veículo</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Modelo):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ano):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ano)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Placa):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Placa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoriaCarro):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoriaCarro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoCompustivel):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoCompustivel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoMotor):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoMotor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observacoes):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observacoes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clientes.Nome):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clientes.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MarcasCarros.Nome):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarcasCarros.Nome)
        </dd>

    </dl>
</div>
<p>
    <a href="/Veiculos/Edit/@Model.Id" class="btn btn-primary btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        Editar
    </a>
    <a href="/Veiculos/Delete/@Model.Id" class="btn btn-primary btn-danger">
        <span class="glyphicon glyphicon-trash"></span>
        Excluir
    </a>
    <a href="/Clientes/Details/@Model.Clientes.Id" class="btn btn-warning">
        <span class="glyphicon glyphicon-chevron-left"></span>
        Voltar
    </a>
</p>
