@model Web.Models.AspNetUsers

@{
    ViewBag.Title = "Excluir usuário";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.MenuAtual = "Usurio";
}

<h2>Excluir usuário</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Nome:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayName("E-mail")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayName("Perfil:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetRoles.ToList()[0].Name)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div>
                <button type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-trash"></span> Excluir
                </button>
            <a href="/Usuarios/Index" class="btn btn-primary btn-danger">
                <span class="glyphicon glyphicon-remove"></span>
                Cancelar
            </a>
        </div>
    }
</div>
