<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/b055b4e26f.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="~/Content/dashboard.css" rel="stylesheet">


    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Entre Rodas admin</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <a class="navbar-brand col-lg-6" style="color:#FFF" href="#">Administração - Entre Rodas Assistência Automotiva</a>
        <div class="navbar-collapse collapse" style="padding-right:50px;">
            @Html.Partial("_LoginPartial")
        </div>
    </div>
    <div class="container-fluid">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar" style="height:100%;">

            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        @if (ViewBag.MenuAtual == "HomeAdm")
                        {
                            <a class="nav-link active" href="/Administrativo">
                                <i class="fa fa-2x fa-home"></i>
                                Home
                            </a>
                        }
                        else
                        {
                            <a class="nav-link" href="/Administrativo">
                                <i class="fa fa-2x fa-home"></i>
                                Home
                            </a>
                        }
                    </li>
                    <li class="nav-item">
                        @if (ViewBag.MenuAtual == "Clientes")
                        {
                            <a class="nav-link active" href="/Clientes">
                                <i class="fa fa-2x fa-user"></i>
                                Clientes
                            </a>
                        }
                        else
                        {
                            <a class="nav-link" href="/Clientes">
                                <i class="fa fa-2x fa-user"></i>
                                Clientes
                            </a>
                        }

                    </li>
                    <li class="nav-item">
                        @if (ViewBag.MenuAtual == "OrdensServicos")
                        {
                            <a class="nav-link active" href="/OrdensServicos">
                                <i class="fa fa-2x fa-wrench"></i>
                                Serviços
                            </a>
                        }
                        else
                        {
                            <a class="nav-link" href="/OrdensServicos">
                                <i class="fa fa-2x fa-wrench"></i>
                                Serviços
                            </a>
                        }

                    </li>
                    <li class="nav-item">
                        @if (ViewBag.MenuAtual == "MarcasCarros")
                        {
                            <a class="nav-link active" href="/MarcasCarros">
                                <i class="fa fa-2x fa-car"></i>
                                Fabrícantes
                            </a>
                        }
                        else
                        {
                            <a class="nav-link" href="/MarcasCarros">
                                <i class="fa fa-2x fa-car"></i>
                                Fabrícantes
                            </a>
                        }
                    </li>
                    <li class="nav-item">
                        @if (ViewBag.MenuAtual == "Usurio")
                        {
                            <a class="nav-link active" href="/Usuarios">
                                <i class="fa fa-2x fa-user"></i>
                                Usuários
                            </a>
                        }
                        else
                        {
                            <a class="nav-link" href="/Usuarios">
                                <i class="fa fa-2x fa-user"></i>
                                Usuários
                            </a>
                        }
                    </li>
                    <li class="nav-item">
                        @if (ViewBag.MenuAtual == "PerfilDeUsuario")
                        {
                            <a class="nav-link active" href="/AspNetRoles">
                                <i class="fa fa-2x fa-user-tag"></i>
                                Perfils de usuários
                            </a>
                        }
                        else
                        {
                            <a class="nav-link" href="/AspNetRoles">
                                <i class="fa fa-2x fa-user-tag"></i>
                                Perfils de usuários
                            </a>
                        }
                    </li>

                </ul>
            </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                @RenderBody()
            </div>
        </main>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/inputmask")

    @RenderSection("scripts", required: false)
</body>
</html>
