@model Web.Models.OrdensServicosMateriais

@{
    ViewBag.Title = "Adicionar novo material";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.MenuAtual = "OrdensServicos";
}

<h2>Adicionar novo serviço</h2>
<div class="container">
    <div class="row">
        <div class="col col-lg-1" style="text-align:right;">
            <strong>@Html.DisplayName("Cliente:")</strong>
        </div>
        <div class="col col-lg-2">
            @ViewBag.NomeCliente
        </div>
        <div class="col col-lg-2" style="text-align:right;">
            <strong>@Html.DisplayName("Veículo:")</strong>
        </div>
        <div class="col col-lg-2">
            @ViewBag.ModeloCarro
        </div>
    </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <hr />
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PrecoUnitario, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PrecoUnitario, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PrecoUnitario, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Quantidade, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Quantidade, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Quantidade, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PrecoTotal, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <p id="pValorTotar">--</p>
            </div>
            <input type="hidden" name="OrdensServicosId" value="@ViewBag.OrdensServicosId" />
        </div>

        <div>
            <button type="submit" class="btn btn-success">
                <span class="glyphicon glyphicon-ok"></span> Salvar
            </button>
            <a href="/OrdensServicos/Details/@ViewBag.OrdensServicosId" class="btn btn-primary btn-danger">
                <span class="glyphicon glyphicon-remove"></span>
                Cancelar
            </a>
        </div>
    </div>
}

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#PrecoUnitario").inputmask('decimal', {radixPoint: ",", groupSeparator: ".", autoGroup: true,
                digits: 2, digitsOptional: false, placeholder: '0', rightAlign: false,
                onBeforeMask: function (value, opts) {
                    return value;
                }
            });
            $("#PrecoUnitario").change(function () {
                if ($("#PrecoUnitario").val() != '' && $("#Quantidade").val() != '') {
                    var valorUnitario = $("#PrecoUnitario").val().split(',');
                    var valorStr = valorUnitario[0] + '.' + valorUnitario[1];
                    var valorFloat = parseFloat(valorStr);
                    var quantidade = parseInt($("#Quantidade").val());
                    var valor = valorFloat * quantidade;

                    $("#pValorTotar").html(valor.toLocaleString('pt-BR'));
                }
                else {
                    $("#pValorTotar").html("--");
                }
            });
            $("#Quantidade").change(function () {
                if ($("#PrecoUnitario").val() != '' && $("#Quantidade").val() != '') {
                    var valorUnitario = $("#PrecoUnitario").val().split(',');
                    var valorStr = valorUnitario[0] + '.' + valorUnitario[1];
                    var valorFloat = parseFloat(valorStr);
                    var quantidade = parseInt($("#Quantidade").val());
                    var valor = valorFloat * quantidade;

                    $("#pValorTotar").html(valor.toLocaleString('pt-BR'));
                }
                else {
                    $("#pValorTotar").html("--");
                }
            });
        });
    </script>
}