@model IEnumerable<Web.Models.MarcasCarros>

@{
    ViewBag.Title = "Index";
}

<h2>Marcas de carros</h2>

<p>
    @Html.ActionLink("Adicionar nova marca", "Create", new {@class = "btn btn-success"})
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>Ações</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }, new { @class = "btn btn-primary" }) 
            @Html.ActionLink("Excluir", "Delete", new { id=item.Id }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
