@model Web.Models.OrdensServicosServicos

@{
    ViewBag.Title = "Deletar serviço";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.MenuAtual = "OrdensServicos";
}

<h2>Deletar serviço</h2>

<h3>Você tem certreza que deseja excluir esse item da ordem de serviço?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div>
            <button type="submit" class="btn btn-success">
                <span class="glyphicon glyphicon-trash"></span> Excluir
            </button>
            <a href="/OrdensServicos/Details/@Model.OrdensServicosId" class="btn btn-primary btn-danger">
                <span class="glyphicon glyphicon-remove"></span>
                Cancelar
            </a>
        </div>
    }
</div>
