@model Web.Models.Clientes

@{
    ViewBag.Title = "Cadastrar cliente";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.MenuAtual = "Clientes";
}

<h2>Excluir cliente</h2>

<div>
    <hr />
    @if (Model.Veiculos.Count > 0)
    {
        <div class="alert alert-danger" role="alert">
            O cliente não pode ser excluído pois existem veículos relacionado à ele!
        </div>
    }
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sobrenome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sobrenome)
        </dd>
    </dl>



    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div>
            @if (Model.Veiculos.Count == 0)
            {
                <button type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-trash"></span> Excluir
                </button>
            }
            <a href="/Clientes/Details/@Model.Id" class="btn btn-primary btn-danger">
                <span class="glyphicon glyphicon-remove"></span>
                Cancelar
            </a>
        </div>
    }
</div>
