@model IEnumerable<Web.Models.OrdensServicos>
<div id="divListaOrdensServicos">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Código do serviço")
                </th>
                <th>
                    @Html.DisplayName("Nome do cliente")
                </th>
                <th>
                    @Html.DisplayName("Modelo")
                </th>
                <th>
                    @Html.DisplayName("Placa  do veículo")
                </th>
                <th>
                    @Html.DisplayName("Situação")
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CodigoOrdensServicos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Clientes.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Veiculos.Modelo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Veiculos.Placa)
                </td>
                <td>
                    @if (item.Status.Trim() == "O")
                    {
                        @Html.Label("Em orçamento")
                    }
                    else if (item.Status.Trim() == "OE")
                    {
                        @Html.Label("Orçamento enviado")
                    }
                    else if (item.Status.Trim() == "AG")
                    {
                        @Html.Label("Agendado")
                    }
                    else if (item.Status.Trim() == "EE")
                    {
                        @Html.Label("Em execuçao")
                    }
                    else if (item.Status.Trim() == "AP")
                    {
                        @Html.Label("Aguardando peças")
                    }
                    else if (item.Status.Trim() == "PT")
                    {
                        @Html.Label("Proto")
                    }
                    else if (item.Status.Trim() == "F")
                    {
                        @Html.Label("Entregue")
                    }
                    else if (item.Status.Trim() == "PG")
                    {
                        @Html.Label("Pago")
                    }
                    else if (item.Status.Trim() == "SC")
                    {
                        @Html.Label("Serviço cancelado")
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.Status)
                    }

                </td>
                <td>
                    <a href="/OrdensServicos/Details/@item.Id" class="btn btn-primary btn-success">
                        <span class="glyphicon glyphicon-search"></span>
                        Visualizar
                    </a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>