@model IEnumerable<Web.Models.OrdensServicos>
<div id="divListaOrdensServicos">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Nome do cliente")
                </th>
                <th>
                    @Html.DisplayName("Placa  do veículo")
                </th>
                <th>
                    @Html.DisplayName("Código")
                </th>
                <th>
                    @Html.DisplayName("Modelo")
                </th>
                <th>
                    @Html.DisplayName("Situação")
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Clientes.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Veiculos.Modelo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Veiculos.Placa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CodigoOrdensServicos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                    @if (item.Status.Trim() == "O")
                    {
                        <p>uuuuu</p>
                        @Html.Label("Em orçamento")
                    }
                </td>
                <td>
                    <a href="/OrdensServicos/Details/@item.Id" class="btn btn-primary btn-success">
                        <span class="glyphicon glyphicon-search"></span>
                        Visualizar
                    </a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>