@model Web.Models.AbrirOrdensServicosViewModel

@{
    ViewBag.Title = "Nova ordem de Serviço";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.MenuAtual = "OrdensServicos";
}

<h2>Abrir nova ordem de serviço</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Cliente:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ClienteId", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div id="rowVeiculo" class="form-group hidden">
                @Html.Label("Veículo:")
            <div class="col-md-10">
                @Html.DropDownList("VeiculoId", new SelectList(Enumerable.Empty<SelectListItem>(), "Id", "Modelo"))
            </div>
        </div>

        <input type="submit" value="Abrir" class="btn btn-success" />
        <a href="/OrdensServicos/Index" class="btn btn-primary btn-danger">Cancelar</a>
    </div>
}

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#cmd_cliente').change(function () {
                var idCliente = $('#cmd_cliente').val();
                if (idCliente > 0) {
                    $.post("@Url.Action("ObterVeiculos", "OrdensServicos")", { 'idCliente': idCliente }, function (data) {
                        $('#cmd_veiculo').empty();
                        if (data.length > 0) {
                            $('#rowVeiculo').show();
                            for (var i = 0; i < data.length; i++) {
                                $('#cmd_veiculo').append('<option value="' + data[i].Id.Trim + '">' + data[i].Texto + '</option>');
                            }
                        } else {
                            alert('O cliente selecionado não possui veículos cadastrados!');
                        }
                    });
                }
            });
        });
    </script>
}