@model Web.Models.AbrirOrdensServicosViewModel

@{
    ViewBag.Title = "Nova ordem de Serviço";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.MenuAtual = "OrdensServicos";
}

<h2>Abrir nova ordem de serviço</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.Label("Cliente:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("ClienteId", null, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>
    <div id="rowVeiculo" class="form-group">
        @Html.Label("Veículo:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-2">
            @Html.DropDownList("VeiculosId", new SelectList(Enumerable.Empty<SelectListItem>(), "Id", "Modelo"))
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Problema identificado junto com o cliente:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.ProblemaIdentificado, 3, 80, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <button type="submit" class="btn btn-success">
        <span class="glyphicon glyphicon-ok"></span> Salvar
    </button>
    <a href="/OrdensServicos/Index" class="btn btn-primary btn-danger">Cancelar</a>
</div>
}

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#ClienteId').change(function () {
                var idCliente = $('#ClienteId').val();
                if (idCliente > 0) {
                    $.post("@Url.Action("ObterVeiculos", "OrdensServicos")", { 'idCliente': idCliente }, function (data) {
                        $('#VeiculosId').empty();
                        if (data.length > 0) {
                           // $('#rowVeiculo').show();
                            for (var i = 0; i < data.length; i++) {
                                $('#VeiculosId').append('<option value="' + data[i].Id + '">' + data[i].Texto + '  </option>');
                            }
                        } else {
                            alert('O cliente selecionado não possui veículos cadastrados!');
                        }
                    });
                }
            });
        });
    </script>
}