@model Web.Models.OrdensServicos

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.MenuAtual = "OrdensServicos";
}

<h2>Deletar Ordem de serviço</h2>

<h3>Você tem certreza que deseja excluir esta ordem de seriço?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Data do orçamento:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataOrcamento)
        </dd>

        <dt>
            @Html.DisplayName("Data inícial prevista:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataInicialPrevista)
        </dd>

        <dt>
            @Html.DisplayName("Marca:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Veiculos.MarcasCarros.Nome)
        </dd>
        <dt>
            @Html.DisplayName("Modelo:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Veiculos.Modelo)
        </dd>
        <dt>
            @Html.DisplayName("Ano:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Veiculos.Ano)
        </dd>

        <dt>
            @Html.DisplayName("Valor total:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorTotal)
        </dd>

        <dt>
            @Html.DisplayName("Cliente:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clientes.Nome)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div>
            <button type="submit" class="btn btn-success">
                <span class="glyphicon glyphicon-trash"></span> Excluir
            </button>
            <a href="/OrdensServicos/Details/@Model.Id" class="btn btn-primary btn-danger">
                <span class="glyphicon glyphicon-remove"></span>
                Cancelar
            </a>
        </div>
    }
</div>
