@model Web.Models.VisualizarServicoViewModel

@{
    ViewBag.Title = "Serviços";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.MenuAtual = "OrdensServicos";
}
@if (Model.Erros != null)
{
    <div class="alert alert-danger" role="alert">
        <ul>
            @foreach (String erro in Model.Erros)
            {
                <li>@erro</li>
            }
        </ul>
    </div>
}

<h2>Detalhes do serviço</h2>

<h3>Serviço @Html.DisplayFor(model => model.CodigoOrdemServico)</h3>
<hr />

<p class="titulo_sessao">Informações do serviço</p>
<div class="container">
    <div class="row">
        <div class="col col-lg-3" style="text-align:right;">
            <strong>@Html.DisplayNameFor(model => model.NomeCliente)</strong>
        </div>
        <div class="col col-lg-2">
            @Html.DisplayFor(model => model.NomeCliente)
        </div>
        <div class="col col-lg-2" style="text-align:right;">
            <strong>@Html.DisplayNameFor(model => model.EmailCliente)</strong>
        </div>
        <div class="col col-lg-2">
            @Html.DisplayFor(model => model.EmailCliente)
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-3" style="text-align:right;">
            <strong>@Html.DisplayNameFor(model => model.FonesCliente)</strong>
        </div>
        <div class="col col-lg-3">
            @Html.DisplayFor(model => model.FonesCliente)
        </div>
        <div class="col col-lg-1" style="text-align:right;">
            <strong>@Html.DisplayNameFor(model => model.Status)</strong>
        </div>
        <div class="col col-lg-2">
            @if (Model.Status.Trim() == "O")
            {
                <p>Em orçamento</p>
            }
            else if (Model.Status == "OE")
            {
                <p>Orçamento enviado</p>
            }
            else if (Model.Status.Trim() == "AG")
            {
                <p>Agendado</p>
            }
            else if (Model.Status.Trim() == "EE")
            {
                <p>Em execução</p>
            }
            else if (Model.Status.Trim() == "AP")
            {
                <p>Aguardando peças</p>
            }
            else if (Model.Status.Trim() == "PT")
            {
                <p>Pronto</p>
            }
            else if (Model.Status.Trim() == "F")
            {
                <p>Entregue</p>
            }
            else if (Model.Status.Trim() == "PG")
            {
                <p>Pago</p>
            }
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-3" style="text-align:right;">
            <strong>@Html.DisplayNameFor(model => model.NomeFuncionarioResponsavel)</strong>
        </div>
        <div class="col col-lg-2">
            @Html.DisplayFor(model => model.NomeFuncionarioResponsavel)
        </div>
        <div class="col col-lg-2" style="text-align:right;">
            <strong>@Html.DisplayNameFor(model => model.DataOrcamento)</strong>
        </div>
        <div class="col col-lg-2">
            @Html.DisplayFor(model => model.DataOrcamento)
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-3" style="text-align:right;">
            <strong>@Html.DisplayNameFor(model => model.DataInicialPrevista)</strong>
        </div>
        <div class="col col-lg-2">
            @Html.DisplayFor(model => model.DataInicialPrevista)
        </div>
        @if (Model.Status.Trim() == "EE" || Model.Status.Trim() == "AP" ||
             Model.Status.Trim() == "PT" || Model.Status.Trim() == "F" ||
             Model.Status.Trim() == "PG")
        {
            <div class="col col-lg-2" style="text-align:right;">
                <strong>@Html.DisplayNameFor(model => model.DataInicial)</strong>
            </div>
            <div class="col col-lg-2">
                @Html.DisplayFor(model => model.DataInicial)
            </div>
        }
    </div>
    @if (Model.Status.Trim() == "F" || Model.Status.Trim() == "PG")
    {
        <div class="row">
            <div class="col col-lg-3" style="text-align:right;">
                <strong>@Html.DisplayNameFor(model => model.DataFinal)</strong>
            </div>
            <div class="col col-lg-2">
                @Html.DisplayFor(model => model.DataFinal)
            </div>
        </div>
    }
    <div class="row">
        <div class="col col-lg-3" style="text-align:right;">
            <strong>@Html.DisplayNameFor(model => model.ProblemaIdentificado)</strong>
        </div>
        <div class="col col-lg-6">
            @Html.DisplayFor(model => model.ProblemaIdentificado)
        </div>
    </div>
    @if (Model.Status.Trim() == "F" || Model.Status.Trim() == "PG")
    {
        <div class="row">
            <div class="col col-lg-3" style="text-align:right;">
                <strong>@Html.DisplayNameFor(model => model.AprovacaoCliente)</strong>
            </div>
            <div class="col col-lg-2">
                @Html.DisplayFor(model => model.AprovacaoCliente)
            </div>
        </div>
    }

</div>
@if (Model.Status.Trim() == "O" || Model.Status.Trim() == "OE" || Model.Status.Trim() == "AG")
{
    <button id="btnAgendarInicio" class="btn btn-success" data-value="@Model.Id">
        <i class="fa fa-play"></i>
        Editar data prevista para o início do serviço
    </button>
}

<hr />
<p class="titulo_sessao">Informações do veículo</p>
<div class="container">
    <div class="row">
        <div class="col col-lg-3" style="text-align:right;">
            <strong>@Html.DisplayNameFor(model => model.ModeloVeiculo)</strong>
        </div>
        <div class="col col-lg-2">
            @Html.DisplayFor(model => model.ModeloVeiculo)
        </div>
        <div class="col col-lg-2" style="text-align:right;">
            <strong>@Html.DisplayNameFor(model => model.AnoVeiculo)</strong>
        </div>
        <div class="col col-lg-2">
            @Html.DisplayFor(model => model.AnoVeiculo)
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-3" style="text-align:right;">
            <strong>@Html.DisplayNameFor(model => model.PlacaVeiculo)</strong>
        </div>
        <div class="col col-lg-2">
            @Html.DisplayFor(model => model.AnoVeiculo)
        </div>
    </div>
</div>
<hr />
<p class="titulo_sessao">Serviços</p>
<a href="/OrdensServicosServicos/Create/@Model.Id" class="btn btn-primary btn-info"><span class="glyphicon glyphicon-plus"></span> Adicionar serviço</a>
@if (Model.Servicos.Count > 0)
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Descrição</th>
                <th>Valor Total: @Model.SubTotalServicos</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var servico in Model.Servicos)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => servico.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => servico.Valor)
                    </td>
                    <td>
                        <a href="/OrdensServicosServicos/Edit/@servico.Id" class="btn btn-primary btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>
                            Editar
                        </a>
                        <a href="/OrdensServicosServicos/Delete/@servico.Id" class="btn btn-primary btn-danger">
                            <span class="glyphicon glyphicon-trash"></span>
                            Excluir
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<p class="titulo_sessao">Materiais</p>
<a href="/OrdensServicosMateriais/Create/@Model.Id" class="btn btn-primary btn-info"><span class="glyphicon glyphicon-plus"></span> Adicionar material</a>
@if (Model.Materiais.Count > 0)
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Descrição</th>
                <th>Quantidade</th>
                <th>Preço unitário</th>
                <th>Preço total: @Model.SubTotalMateriais</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var material in Model.Materiais)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => material.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => material.Quantidade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => material.PrecoUnitario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => material.PrecoTotal)
                    </td>
                    <td>
                        <a href="/OrdensServicosMateriais/Edit/@material.Id" class="btn btn-primary btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>
                            Editar
                        </a>
                        <a href="/OrdensServicosMateriais/Delete/@material.Id" class="btn btn-primary btn-danger">
                            <span class="glyphicon glyphicon-trash"></span>
                            Excluir
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@if (Model.Status.Trim() != "O")
{
    <hr />
    <p class="titulo_sessao">Informações do pagamento</p>
    <div class="container">
        <div class="row">
            <div class="col col-lg-3" style="text-align:right;">
                <strong>@Html.DisplayNameFor(model => model.FormaPagamento)</strong>
            </div>
            <div class="col col-lg-2">
                @Html.DisplayFor(model => model.FormaPagamento)
            </div>
        </div>
        @if (Model.Servicos.Count > 0 || Model.Materiais.Count > 0)
        {
            <div class="row">
                <div class="col col-lg-3" style="text-align:right;">
                    <strong>@Html.DisplayNameFor(model => model.ValorTotal)</strong>
                </div>
                <div class="col col-lg-2">
                    @Html.DisplayFor(model => model.ValorTotal)
                </div>
                <div class="col col-lg-2" style="text-align:right;">
                    <strong>@Html.DisplayNameFor(model => model.ValorAPagar)</strong>
                </div>
                <div class="col col-lg-2">
                    @Html.DisplayFor(model => model.ValorAPagar)
                </div>
            </div>
            <div class="row">
                <div class="col col-lg-3" style="text-align:right;">
                    <strong>@Html.DisplayNameFor(model => model.ValorDinheiro)</strong>
                </div>
                <div class="col col-lg-2">
                    @Html.DisplayFor(model => model.ValorDinheiro)
                </div>
                <div class="col col-lg-2" style="text-align:right;">
                    <strong>@Html.DisplayNameFor(model => model.ValorCartao)</strong>
                </div>
                <div class="col col-lg-2">
                    @Html.DisplayFor(model => model.ValorCartao)
                </div>
            </div>
        }
    </div>
    if (Model.Status.Trim() != "F" || Model.Status.Trim() != "PG")
    {
        <button class="btn btn-primary btn-primary" id="editPag" data-value="@Model.Id">
            <i class="glyphicon glyphicon-pencil"></i>
            Editar forma de pagamento
        </button>
    }
}

@if (!String.IsNullOrEmpty(Model.InformacoesAdicionais))
{
    <hr />
    <p class="titulo_sessao">Informações adicionais</p>
    <div class="container">
        <div class="row">
            <div class="col col-lg-8">
                @Model.InformacoesAdicionais
            </div>
        </div>
    </div>
}

<div class="modal" id="modao">

</div>

<br />
<div>
    <a href="/OrdensServicos/GerarOrcamento/@Model.Id" class="btn btn-success">
        <span class="fa fa-envelope"></span>
        Gerar orçamento
    </a>
    @if (Model.Status.Trim() == "O")
    {
        <a href="/OrdensServicos/EnviarOrcamento/@Model.Id" class="btn btn-success">
            <span class="fa fa-envelope"></span>
            Enviar orçamento
        </a>
    }
    @if (Model.Status.Trim() == "OE")
    {
        <a href="/OrdensServicos/Details2/@Model.Id" class="btn btn-success">
            <span class="fa fa-envelope"></span>
            Reenviar orçamento
        </a>
    }
    @if (Model.Status.Trim() == "AG" || Model.Status.Trim() == "OE")
    {
        <a href="/OrdensServisos/IniciaServico/@Model.Id" class="btn btn-success">
            <span class="fa fa-play"></span>
            Iniciar serviço
        </a>
    }
    @if (Model.Status.Trim() == "EE")
    {
        <a href="/OrdensServisos/AguardoPecas/@Model.Id" class="btn btn-success">
            <span class="fa fa-envelope"></span>
            No aguardo de peças
        </a>
    }

    @if (Model.Status.Trim() == "EE")
    {
        <a href="/OrdensServisos/FinalizaServico/@Model.Id" class="btn btn-success">
            <span class="fa fa-stop"></span>
            Finalizar serviço
        </a>
    }

    @if (Model.Status.Trim() == "EE")
    {
        <a href="/OrdensServisos/EntregaServico/@Model.Id" class="btn btn-success">
            <span class="fa fa-stop"></span>
            Serviço entregue
        </a>
    }

    @if (Model.Status.Trim() == "PT" || Model.Status.Trim() == "F")
    {
        <a href="/OrdensServisos/ServicoPaga/@Model.Id" class="btn btn-success">
            <span class="fa fa-stop"></span>
            Serviço pago
        </a>
    }

    @if (Model.Status.Trim() == "O" || Model.Status.Trim() == "OE"
        || Model.Status.Trim() == "AG" || Model.Status.Trim() == "EE"
        || Model.Status.Trim() == "AP")
    {
        <button id="btnEditarOrdem" class="btn btn-primary" data-value="@Model.Id">
            <i class="fa fa-edit"></i>
            Editar serviço
        </button>
    }
    @if (Model.Status.Trim() == "O" || Model.Status.Trim() == "OE"
        || Model.Status.Trim() == "AG" || Model.Status.Trim() == "EE"
        || Model.Status.Trim() == "AP")
    {
        <a href="/OrdensServisos/Delete/@Model.Id" class="btn btn-primary btn-danger">
            <span class="glyphicon glyphicon-trash"></span>
            Excluir serviço
        </a>
    }
    <a href="/OrdensServisos/Index" class="btn btn-primary btn-warning">
        <span class="glyphicon glyphicon-chevron-left"></span>
        Voltar
    </a>
</div>

<div id="modal" class="modal fade">

</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#editPag").click(function () {
                var id = $(this).data("value");

                $("#modal").load("/OrdensServicos/EditarFormaPagamento/" + id, function () {
                    $("#modal").modal("show");
                });
            });

            $("#btnAgendarInicio").click(function () {
                var id = $(this).data("value");

                $("#modal").load("/OrdensServicos/AgendarInicio/" + id, function () {
                    $("#modal").modal("show");
                });
            });

            $("#btnEditarOrdem").click(function () {
                var id = $(this).data("value");

                $("#modal").load("/OrdensServicos/Edit/" + id, function () {
                    $("#modal").modal("show");
                });
            });
        });

    </script>
}
