@model Web.Models.VisualizarServicoViewModel

@{
    ViewBag.Title = "Serviços";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.MenuAtual = "OrdensServicos";
}

<h2>Detalhes do serviço</h2>

<h3>Serviço @Html.DisplayFor(model => model.CodigoOrdemServico)</h3>
<hr />
<p class="titulo_sessao">Informações do serviço</p>
<div class="container">
    <div class="row">
        <div class="col col-lg-3" style="text-align:right;">
            <strong>@Html.DisplayNameFor(model => model.NomeFuncionarioResponsavel)</strong>
        </div>
        <div class="col col-lg-2">
            @Html.DisplayFor(model => model.NomeFuncionarioResponsavel)
        </div>
        <div class="col col-lg-2" style="text-align:right;">
            <strong>Status do serviço:</strong>
        </div>
        <div class="col col-lg-2">
            @Html.DisplayFor(model => model.Status)
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-3" style="text-align:right;">
            <strong>@Html.DisplayNameFor(model => model.ProblemaIdentificado)</strong>
        </div>
        <div class="col col-lg-2">
            @Html.DisplayFor(model => model.ProblemaIdentificado)
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-3" style="text-align:right;">
            <strong>@Html.DisplayNameFor(model => model.DataOrcamento)</strong>
        </div>
        <div class="col col-lg-2">
            @Html.DisplayFor(model => model.DataOrcamento)
        </div>
        <div class="col col-lg-2" style="text-align:right;">
            <strong>@Html.DisplayNameFor(model => model.DataInicialPrevista)</strong>
        </div>
        <div class="col col-lg-2">
            @Html.DisplayFor(model => model.DataInicialPrevista)
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-3" style="text-align:right;">
            <strong>@Html.DisplayNameFor(model => model.DataInicial)</strong>
        </div>
        <div class="col col-lg-2">
            @Html.DisplayFor(model => model.DataInicial)
        </div>
        <div class="col col-lg-2" style="text-align:right;">
            <strong>@Html.DisplayNameFor(model => model.DataFinal)</strong>
        </div>
        <div class="col col-lg-2">
            @Html.DisplayFor(model => model.DataFinal)
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-3" style="text-align:right;">
            <strong>@Html.DisplayNameFor(model => model.AprovacaoCliente)</strong>
        </div>
        <div class="col col-lg-2">
            @Html.DisplayFor(model => model.AprovacaoCliente)
        </div>
    </div>
</div>
<p class="titulo_sessao">Informações do cliente</p>
<div class="container">
    <div class="row">
        <div class="col col-lg-3" style="text-align:right;">
            <strong>@Html.DisplayNameFor(model => model.NomeCliente)</strong>
        </div>
        <div class="col col-lg-2">
            @Html.DisplayFor(model => model.NomeCliente)
        </div>
        <div class="col col-lg-2" style="text-align:right;">
            <strong>@Html.DisplayNameFor(model => model.EmailCliente)</strong>
        </div>
        <div class="col col-lg-2">
            @Html.DisplayFor(model => model.EmailCliente)
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-3" style="text-align:right;">
            <strong>@Html.DisplayNameFor(model => model.FonesCliente)</strong>
        </div>
        <div class="col col-lg-2">
            @Html.DisplayFor(model => model.FonesCliente)
        </div>
        <div class="col col-lg-2" style="text-align:right;">
            <strong>@Html.DisplayNameFor(model => model.ModeloVeiculo)</strong>
        </div>
        <div class="col col-lg-2">
            @Html.DisplayFor(model => model.ModeloVeiculo)
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-3" style="text-align:right;">
            <strong>@Html.DisplayNameFor(model => model.AnoVeiculo)</strong>
        </div>
        <div class="col col-lg-2">
            @Html.DisplayFor(model => model.AnoVeiculo)
        </div>
        <div class="col col-lg-2" style="text-align:right;">
            <strong>@Html.DisplayNameFor(model => model.PlacaVeiculo)</strong>
        </div>
        <div class="col col-lg-2">
            @Html.DisplayFor(model => model.PlacaVeiculo)
        </div>
    </div>
</div>
<p class="titulo_sessao">Informações do pagamento</p>
<div class="container">
    <div class="row">
        <div class="col col-lg-3" style="text-align:right;">
            <strong>@Html.DisplayNameFor(model => model.ValorTotal)</strong>
        </div>
        <div class="col col-lg-2">
            @Html.DisplayFor(model => model.ValorTotal)
        </div>
        <div class="col col-lg-2" style="text-align:right;">
            <strong>@Html.DisplayNameFor(model => model.ValorAPagar)</strong>
        </div>
        <div class="col col-lg-2">
            @Html.DisplayFor(model => model.ValorAPagar)
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-3" style="text-align:right;">
            <strong>@Html.DisplayNameFor(model => model.FormaPagamento)</strong>
        </div>
        <div class="col col-lg-2">
            @Html.DisplayFor(model => model.FormaPagamento)
        </div>
        <div class="col col-lg-2" style="text-align:right;">
            <strong>@Html.DisplayNameFor(model => model.InformacoesAdicionais)</strong>
        </div>
        <div class="col col-lg-2">
            @Html.DisplayFor(model => model.InformacoesAdicionais)
        </div>
    </div>
</div>
<hr />
<div>
    <a href="/OrdensServisos/Edit/@Model.Id" class="btn btn-primary btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        Editar cliente
    </a>
    <a href="/OrdensServisos/Delete/@Model.Id" class="btn btn-primary btn-danger">
        <span class="glyphicon glyphicon-trash"></span>
        Excluir cliente
    </a>
    <a href="/OrdensServisos/Index" class="btn btn-primary btn-warning">
        <span class="glyphicon glyphicon-chevron-left"></span>
        Voltar
    </a>
</div>
