@model Web.Models.EditarInformacoesDoServicoViewModel

@{
    ViewBag.Title = "Editar serviço";
    Layout = null;
}


<div class="modal-dialog">
    <div class="modal-content">
        @using (Html.BeginForm())
        {
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                </button>
                <h2>Editar informações do serviço</h2>
            </div>

            @Html.AntiForgeryToken()

            <div class="modal-body">

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.OrdensServicosId)


                    <div class="container">
                    
                        <div class="row">
                            <div class="col col-lg-2 label-form">
                                @Html.LabelFor(model => model.ProblemaIdentificado)
                            </div>
                            <div class="col col-lg-2">
                                @Html.TextAreaFor(model => model.ProblemaIdentificado, 3, 80, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ProblemaIdentificado, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-lg-2 label-form">
                                @Html.LabelFor(model => model.InformacoesAdicionais)
                            </div>
                            <div class="col col-lg-2">
                                @Html.TextAreaFor(model => model.InformacoesAdicionais, 3, 80, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.InformacoesAdicionais, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group">

                    <div>
                        <button type="submit" class="btn btn-success">
                            <span class="glyphicon glyphicon-ok"></span> Salvar
                        </button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $("#DataInicialPrevista").inputmask("mask", { "mask": "99/99/9999" });
        });
    </script>

}
